$black       :#000;
$white       :#fff;
$gray        :#333;


/*media variables*/

$notebook-and-less : 'only screen and (max-width: 1440px)';
$small-notebook    : 'only screen and (max-width: 1366px)';
$handheld          : 'only screen and (max-width: 1024px)';
$small-handheld    : 'only screen and (max-width: 812px)';
$portrait-tablet   : 'only screen and (max-width: 768px)';
$mobile            : 'only screen and (max-width: 700px)';
$small-mobile      : 'only screen and (max-width: 480px)';
$mini-mobile       : 'only screen and (max-width: 375px)';


$not-small-mobile  : 'only screen and (min-width: 481px)';